.navbar-light .navbar-toggler{
	border-color: transparent;
}
header {
	height: 10%;
	background-color: transparent;
}
html,body{
	height:100%;
	font-family: 'Open Sans', sans-serif;
}
.carousel,.item,.active{
	height:100%;
}
.carousel-inner{
	height:100%;
}
.fill{
	width: 100vw;
	height: 100vh;
	background-position:center;
	background-size:    cover;
	max-width: 100%;
}
#first-slide{
	background-image: url("../img/full/32.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: center; */
	width: 100vw;
	height: 100vh;
}
#second-slide{
	background-image: url("../img/full/28.jpg");
}
#third-slide{
	background-image: url("../img/full/35.jpg");
}
h5{
	letter-spacing: 1px;
}
.card{
	width: 18rem;
}
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
	.skillbars{
		width: 75%;
	}
 }

 /* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
	.skillbars{
		width: 75%;
	}
 }

 /* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
	.skillbars{
		width: 50%;
	}
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
	.skillbars{
		width: 50%;
	}
 }

/* @media only screen and (max-width: 768px) {
	/* For mobile phones: 
	#first-slide{
		background-image: url("../img/full/32.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
}   */
#progressbar1{
	width: 55%;
}
#progressbar2{
	width: 80%;
}
#progressbar3{
	width: 40%;
}
#progressbar4{
	width: 70%;
}
.price-card{
	border-top: 5px solid black;
	border-right: 0 solid transparent;
	border-left: 0 solid transparent;
	border-bottom: 0 solid transparent; 
	text-decoration: none;
}
.price-card-gold{
	border-top: 5px solid #c7a674;
	border-right: 0 solid transparent;
	border-left: 0 solid transparent;
	border-bottom: 0 solid transparent;
	text-decoration: none;
}
.gold{
	color: #c7a674;
}
#background-gold {
	background-color: #c7a674;
	text-decoration: none;
}
footer{
	font-size: 0.75em;
}
.no-decoration {
	text-decoration: none !important;
}